.logo{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 40px;
    height: 40px;
}
.drop{
    color: var(--primary-color);
}
.modalContainer{
    top: 0px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.btn1{
    width: 80px;
    height: 40px;
   
}

